html,body{
  font: small lato;
  margin: 0; /*removes default margin that the browser assigns*/
  padding: 0; /*removes default padding the browser assigns*/
  height: 100%; /*Displays the picture full height*/
  /* width: 100%;   /*Displays the picture full width*/ */
}


.topBG{
  height: 100%; /*Displays the picture full height*/
  width: 100%;   /*Displays the picture full width*/
  background: url("../images/travelBG.jpg") no-repeat;
  background-position: center;
  background-size: cover; /*Fills the entire page*/


}

.topBG h1{
  float: left;
  margin-left: 20px;
  margin-top: 8px;
}
.topBG a{
   text-decoration: none;
   color:#696969;
}

label{
    margin: 0px 15px 0px 0;  /*This is the hamburger*/
    font-size: 30px;
    line-height: 40px;
    display: none;
    width: 26px;
    float: right;
}

#toggle{
    margin-top: 10px;   /*This is the checkbox*/
    display: none;
}


.nav {
    margin: 0 2px 0 0;
    padding: 0;
    /*You remove the overflow hidden here,
    and you were able to solve it. Don't give up you can do this*/
    background-color: transparent;
    border-bottom:  1px solid rgba(239,239,239,.7);
    border-right:  1px solid rgba(239,239,239,0.8);

}

 .nav > li {
    float: right;
    list-style-type: none;
    text-align: center;
    color: #696969;
    padding: 14px 16px;
    text-transform: uppercase;
    position: relative;
}

.nav li > a {
    text-decoration: none;
    color: inherit;
}

.nav >li >a:hover{
    color:#a8a8a8;
}

.nav > li .homeWrapper{
  position: absolute;
  left: 13px;
  top: 20px;
  background-color: #292929;

}

.nav >li:hover > div{
  display: block;
}

.homeWrapper{
  margin: 20px auto 0 auto;
  width: 270px;
  display: none;
  top: 0;

}

.homeWrapper div{
  display: inline-block;
  margin: 20px 0;
}

.places li, .places > a{
  list-style-type: none;
  color: white;
  text-align: left;
  padding: 5px 5px 5px 0;
  font-size: 12px;
}

@media only screen and  (max-width: 1000px) {
  label{
  display: block;
  cursor: pointer;
  background-color: white;
  }


  .nav{
    display: none;
    background-color: orange;
  }

  #toggle:checked + .nav{  /*This is the part where the UI changes whent the user click on the invisible checkbox*/
    display:block;
    margin-bottom: -70px;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    }
.nav li{
  width: 100%;
}
 .nav .homeRelative{
    float: none;
    background-color: white;
    text-align: left;
   }

 .nav >li:hover > div{
    display: none;
    }

    #clickPagesWrapper{
      display: none;
    }

    #clickPagesWrapper:target{
     width: 100%;
     display:block;
     position: relative;
     top: 0px;
     left: 0;
   }
  #clickHomeWrapper{
    display: none;
    transition: 3s;
  }

   #clickHomeWrapper:target{
    width: 100%;
    display:block;
    position: relative;
    top: 0px;
    left: 0px;

 }
}
