body{
  font-size: small monospace;
  background-color: #666;
  line-height: 1.5;

}

.container-fluid{
    background-color: #96B48B;
}

.nav{

    /* border-bottom: 1px solid #EAEAEB; */
    text-align: right;
    height: 50px;
    line-height:60px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 13px;
}

header.top h1{

  display: inline;
  float: left;
  position: relative;
  left: 5px;
  bottom:8px;
  color: white;
  font-family: Lobster, Monospace;

}
.menu{
    margin: 0px 5px 0 0 ;

}

.menu a{
   clear: right;
   background-color: #333;
   text-decoration: none;
   color: gray;
   margin: 0;
   margin-right: -4px;
   line-height: 35px;
   padding: 10px;
}

.menu #joker{
   background-color:#bbb;

}
span{
color:#333;
}

label{
    margin: 10px 15px 0px 0;
    font-size: 40px;
    line-height: 50px;
    display: none;
    width: 26px;
    float: right;
}

#toggle{
    margin-top: 10px;

    display: none;
}

#about{
  background-color: #aaa;
}
#about p{
padding: 70px 10% 50px;
line-height: 1.7;
font-size: 20px;
color: #fff;
}

#hrAbout{
  margin: -1em 50px;
  border-width: 2.5px;
}

@media only screen and (max-width: 767px){
    label{
      display: block;  /*label becomes block pushing down .menu class*/
      cursor: pointer; /*change the mouse pointer*/
    }

    .nav{
      margin-bottom: 23.5px;
    }

    .menu {

      text-align: center;
      width: 100%;
      display: none;

    }

    .menu a{
      display:block;
      background-color: #333;
      border-bottom: 1px solid #EAEAEB;
      margin: 0;

    }

    #joker{
      border-top: 1px solid #EAEAEB;
    }
    #toggle {
      padding-top: -70px;

    }



    #toggle:checked + .menu{
      padding-top: 70px;
      display: block;
      margin-bottom: -70px;

      }

    #about p{
    margin:70px 10% 50px;
    margin-bottom: 0px;
    line-height: 1.7;
  }

  #hrAbout{
    margin: -1em 50px -7.5em 50px;

  }
}

@media (min-width: 320px) and (max-width: 480px) {

  #about p{
  margin:70px 10% 50px;
  margin-bottom: 0px;
  padding-top: 20px;
  line-height: 1.3;
  text-align: center;
  font-size: 120%;
  }

  #hrAbout{
    margin: -20px 50px -60px 50px;
  }

  #about2 {
    margin-top: 0px;
    padding-top: 0;

}
